<html>
    <head>
        <!-- bootstrap 3  -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Ben's Repeat Word Counter</title>
    </head>
    <body>
        <div class="container-fluid">
            <h4 class="text-primary">The input word '{{ input_word }}' appears {{ count }} times in the string! '{{ input_string }}'</h4>
            <a href="/"><button type="submit" class="btn btn-primary"> Wanna try it again? </button></a>
        </div>
    </body>
</html>
